# Virtual Environment
venv/

# Python Cache
__pycache__/
*.pyc

# Jupyter Checkpoints
.ipynb_checkpoints/

# Dataset
dataset/

# VS Code
.vscode/

# OS Files
.DS_Store
Thumbs.db

# Env files
.env

# Virtual Environment
.venv/